/*! Game room styling */
#game {
  margin: 0 auto;
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Game Board */
#board {
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  position: relative;
  font-family: Futura, Helvetica, Arial, sans-serif;
  color: #444;
}

.game-logo {
  margin-top: 35px;
  display: flex;
  width: 70vw;
  align-items: center;
}

/* Top Navbar */
#top-bar {
  width: 80vw;
  max-width: 125%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* Game/Team Status */
#status {
  font-size: 2vw;
  font-weight: 900;
}

/* Unflipped Cards */
#game .red:not(.hidden) {
  color: #d13030;
}
#game .blue:not(.hidden) {
  color: #4183cc;
}

#game.player #board .hidden {
  cursor: pointer;
}

#game #board .card:hover {
  background-color: #6adcff;
}

#game #board .card {
  backface-visibility: hidden;
  background: #b9efff;
  background-size: contain;
  border-radius: 1vh;
  width: 24vh;
  height: 15vh;
  line-height: 15vh;
  margin: 1vh;
  padding: 1vh;
  text-align: center;
  transition: .75s;
}

#game #board .board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

#game #board .card .word {
  font-weight: 600;
  vertical-align: middle;
  display: inline-block;
}

/* Spymaster Board View */

#game.spymaster #board .card.red.hidden {
  background: #d13030;
}
#game.spymaster #board .card.blue.hidden {
  background: #4183cc;
}
#game.spymaster #board .card.neutral.hidden {
  background: #ede2cc;
}
#game.spymaster #board .card.black.hidden {
  background: #000;
  color: #fff;
  width: 23vh;
  height: 15vh;
  line-height: 15vh;
  outline: 5px solid #000;
  border: 2px solid #fff;
}

#game.spymaster #board .card {
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* End Spymaster Board View */

/* Flipped Card Styling*/

#game #board .card.red.revealed {
  background:  #d13030;
  background-size: contain;
  line-height: 1vh;
  text-align: left;
  color: #fff;
  transform: rotateY(-360deg);
}

#game #board .card.blue.revealed {
  background:  #4183cc;
  background-size: contain;
  line-height: 1vh;
  text-align: left;
  color: #fff;
  transform: rotateY(-360deg);
}
#game #board .card.black.revealed {
  background: #000;
  background-size: contain;
  line-height: 1vh;
  text-align: left;
  color: #fff;
  transform: rotateY(-360deg);
}
#game #board .neutral.revealed {
  background: #ede2cc;
  background-size: contain;
  line-height: 1vh;
  text-align: left;
  color: #fff;
  transform: rotateY(-360deg);
}

/* End Flipped Card styling */

/* Button/Switch Styling */

.button {
  padding: 1.5vh 1.5vh;
  border: 0.3vh solid transparent;
  border-radius: 1vh;
  font-size: 1.5vw;
  text-align: center;
  background-color: #2ba6cb;
  color: #fefefe;
}

.button:hover,
.button:focus {
  background-color: #258dad;
}

.button:focus {
  outline: dashed 1px #2ba6cb;
}

.switch {
  margin-right: 1vw;
  padding: 1.5vh 1.5vh;
  font-size: 1.5vw;
}

/* End Button Styling */
