/*! Base game styling */
#game {
  width: 700px;
  margin: 0 auto;
}
#board {
  position: relative;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(165, 91, 42);
}
#game .red:not(.hidden) {
  color: #d13030;
}
#game .blue:not(.hidden) {
  color: #4183cc;
}

#game.player #board .hidden {
  cursor: pointer;
}
#game #board .neutral.revealed {
  background: #ede2cc;
}
#game #board .card {
  vertical-align: middle;
  background: #ddd;
  border-radius: 10px;
  width: 120px;
  height: 80px;
  line-height: 75px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  text-align: center;
}
#game #board .card .word {
  vertical-align: middle;
  display: inline-block;
}
#game.spymaster #board .card.red.hidden {
  color: #d13030;
}
#game.spymaster #board .card.blue.hidden {
  color: #4183cc;
}
#game.spymaster #board .card.black.hidden {
  background: #bbb;
  width: 116px;
  height: 76px;
  line-height: 72px;
  outline: 2px solid #000;
  border: 2px solid #fff;
}
#game.spymaster #board .card {
  font-weight: 600;
}
#game #board .card.red.revealed {
  background: #d13030;
  color: #fff;
}
#game #board .card.blue.revealed {
  background: #4183cc;
  color: #fff;
}
#game #board .card.black.revealed {
  background: #000;
  color: #fff;
}
